services:
  backend:
    build:
      context: ./Backend
    ports:
      - "5000:5000"
    networks:
      - juego_net
    volumes:
      - ./Backend:/app

  frontend:
    build:
      context: ./Frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - juego_net

networks:
  juego_net:
    driver: bridge
